
.white_font {
    color: white;
}

.header_font {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;        
    padding-left: 0.12rem;
}

.bold_font {
    font-weight: bold;
}

.container_background {
    border: 1px solid black;
    background-color: white;
}

#Body {
    border: 1px solid black;
    background-color: lightgray;

    width: 80%;                
    max-width: 60rem;          
    min-height: 90vh;          

    padding: 1rem;

    display: flex;
    flex-wrap: wrap;                 
}

#Container_Info {
    width: 30%;                 
    min-width: 15rem;          
    padding: 1.5rem;
}

#Sub_Container {
    width: 100%;
    height: 65%;
}

#Container_Profile { 
    width: 100%;                
    height: auto;               
    aspect-ratio: 1 / 1;        
}

.container_seperator {
    background-color: rgb(58, 58, 58);
    width: 100%;
    height: 2.2rem;
    aspect-ratio: 1 / 1;             
}

.profile_content {
    border: 1px solid black;
    width: auto;
    height: 30%;
    padding: 1rem;
    overflow: scroll;
}

#big_container {
    width: 50%;
    min-height: 10rem;
    padding: 1rem;
}
