
#DefaultFont {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#Container {
    border: 1px
    solid black;
    background-color:lightblue;

    width: 80px;
    height: 30px;

    padding: 20px;
}