#DefaultFont {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.container_background {
    border: 1px solid black;
    background-color: white;
}

#Main {
    border: 1px solid black;
    background-color:lightgray;

    width: 992px;
    height: 1425px;
    padding: 20px;
}

#Container_Info {
    width: 300px;
    height: 1350px;
    padding: 20px;

}

#Container_Profile { 
    width: 300px;
    height: 300px;

    box-sizing: border-box;
}

.container_seperator {
    background-color: rgb(58, 58, 58);

    width: 300px;
    height: 35px;
}

#personal_info {
    border: 1px solid black;
    width: 298px;
    height: 380px;
}

#mini_personal_info {
    border: 1px solid black;
    width: 298px;
    height: 85px;
}